/*html,body{
  height: 100%;
}*/
*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}

/* 定位 */
.rel{
  position: relative;
}
.abs{
  position: absolute;
}
.fix{
  position: fixed;
}

/* 浮动 */
.clearfix:after{
    clear:both;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.left{
  float: left;
}
.right{
  float: right;
}

/* 对齐 */
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

/* flex */
.wrap{
  flex-wrap: wrap;
}
.nowrap{
  flex-wrap: nowrap;
}

/* chrome滚动条 */
.scroll::-webkit-scrollbar {
  width:5px;
}
.scroll::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius:4px;
}

/* 省略号 */
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.full{
  width: 100%;
}
.no-outline{
  outline: none;
}
.cust-fix{
  position: absolute;
  position: fixed;
  top: 99px;
  bottom: 0px;
  left: auto;
  right: auto;
}
.bg-white{
  background-color: #fff;
}
.footer{
  top: auto;
  bottom: 0;
}

/* 字体 from: tuice.com */
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot"); /* IE9 */
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../fonts/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("../fonts/iconfont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}

.iconfont,i{
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;

  vertical-align: baseline;
  text-align: center;
}
.icon-smile:before{content:"\E677"}
.icon-pictrue:before{content:"\E689"}
.icon-video:before{content:"\E69B"}
.icon-plus:before{content:"\E63E"}
.icon-edit:before{content:"\E668"}
.icon-position:before{content:"\E665"}
.icon-favorite:before{content:"\E6B0"}
.icon-letter:before{content:"\E682"}
.icon-close:before{content:"\E632"}
.icon-delete:before{content:"\E661"}
.icon-male:before{content:"\E6B3"}
.icon-female:before{content:"\E6B4"}
